.hero-container {
  padding: 20px;
  background-size: 75rem;
  background-repeat: no-repeat;
  position: relative;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 95px;
  position: relative;
}

.hero-text h1 {
  font-size: 2.8rem;
  margin: 0;
  line-height: 1;
  font-family: "Bungee Tint", sans-serif;
}

.hero-text h1 strong {
  display: block;
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
  font-family: "Bungee Tint", sans-serif;
}

.hero-text p {
  margin: 5px 0;
  font-weight: 500;
  font-family: "Volkhov", serif;

}

.btn {
  padding: 10px 20px;
  background-color: #dae952;
  color: #000000;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Volkhov", serif;
}

.hero-image img {
  width: 500px;
  height: 500px;
  z-index: -1;
  border: none;
}
.hero-circle-image {
  position: absolute;
  left: 504px;
}

.clipy-path img {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 625px;
  z-index: -1;
}
.icon-image img {
  position: absolute;
  right: 0;
  top: 180px;
  height: 120px;
}


@media (max-width:1326px) {
  .hero-content{
    display: flex;
    flex-direction: column-reverse;
  }
  .clipy-path img{
    width: 885px;
  }
  .hero-circle-image{
    left: 210px;
  }
  .hero-text{
    text-align: center;
    margin-top: 1rem;
  }
}
@media (max-width:1302px) {
  .clipy-path img{
    width: 100%;
    height: auto;
  }
}
